<div class="container-fluid"> 

  <div class="row" style="height: 100vh" [formGroup]="fbInput">

    <!-- Whole Block-->
    <div
    class="col
    bg-info
    d-flex 
    flex-column 
    justify-content-center 
    align-items-center">  
      
      <!-- Middle Block-->
      <div
        class="row
        bg-light
        d-flex 
        flex-column
        justify-content-center 
        align-items-center 
        text-center"
        style="height: 90vh;
        width: 30vw;
        border-radius: 10px;">

        <div class="h2 text-info
        mb-4 
        font-weight-bolder">
        
          Forgot Password?
        
        </div>
          
        <p class="text-secondary 
        font-weight-bold">
          
          You can reset your password here.
        
        </p>

        <div class="alert"
        id="alertId"
        style="color: red;
        font-size: 20px;">

          Please provide your email address and username for resetting your password.

        </div>

        <div style="width: 15vw;">

          <label for="InputEmail">
          
            Email address
          
          </label>
          
          <input type="email" 
          class="form-control" 
          formControlName="email"  
          placeholder="abc@gmail.com">
        
        </div>

        <div required style="width: 15vw;">

          <label for="InputEmail">
          
            Username
          
          </label>
          
          <input type="email" 
          class="form-control" 
          formControlName="username"  
          placeholder="enter your username">
        
        </div>

        <div required style="width: 15vw;">

          <label for="InputEmail">
          
            New password
          
          </label>
          
          <input type="password" 
          class="form-control" 
          formControlName="password"  
          placeholder="new password">
        
        </div>

        <div required style="width: 15vw;">

          <label for="InputEmail">
          
            New confirm password
          
          </label>
          
          <input type="password" 
          class="form-control" 
          formControlName="confirm_password"  
          placeholder="new confirm password">
        
        </div>
        
        <div>

          <button type="submit" 
          class="btn btn-info
          btn-block 
          mt-4 
          mb-3"  
          [disabled]="!fbInput.valid"
          style="width: 12vw;"
          (click)="forgotPassFun()">

            Reset Password

          </button>
            
          <!--(click)="submit()"-->

        </div>

        <div>

          <a class="text-primary"
          routerLink="/log-in">
          
            Back to login page
          
          </a>

        </div>

      </div> 

    </div>

  </div>

</div>
